<main>
    <p> Guest Name: {{guest.name}}</p><br>

 
  
   <p>Guest Age: {{guest.Age}}</p> <br>
    <p>Guest Phone Number: {{guest.phone}}</p><br>
    <p>Guest Email Address: {{guest.email}}</p><br>

	
       
        <form action="/guest/{{ guest.id }}?_method=DELETE" method="POST">
			<input type="submit" value="Delete Guest"/>
		</form>

        <form action="/guest/{{ guest.id }}/edit" method="GET">
            <input type="submit" value="Edit Guest "/>
        </form>
</main>

